<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Описание модели {{ profession }}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/description.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
</head>
<body class="d-flex flex-column align-items-center">
<form class="first_button" action="/" method="get">
    <input type="submit" value="Назад">
</form>
<n1>Модель для профессии "{{ profession }}"</n1>
<p>Лучшая точность на тренировочной выборке: {{ best_score_learn }}</p>
<p>Лучшая точность на тестовой выборке: {{ best_score_validation }}</p>
<p>Лучшая итерация: {{ best_iteration }}</p>
<p>Параметры обучения: {{ params }}</p>
<p>График обучения</p>
<img src="{{ url_for('static', filename='images/plot.png') }}" alt="">
<p>Важность признаков</p>
<div id="feature-importance"></div>
<img src="{{ url_for('static', filename='images/features.png') }}" alt="">
</body>
</html>