<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница для создания новой модели</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/general.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles/new_model.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
</head>
<body>
<form action="/logout" method="get">
    <div id="logout-form">
        <input type="submit" id="logout-button" value="Выйти">
        <p>{{ name }}</p>
        <p>{{ surname }}</p>
    </div>
</form>
<div class="d-flex flex-column align-items-center">
    <h1>Создание модели</h1>
    {% if state is undefined %}
        {% if saved is defined and saved == 1 %}
            <p class="first_p">Модель сохранена!</p>
        {% endif %}
        <form action="/index" method="get">
            <input type="submit" value="На главную">
        </form>
        <form action="/new_model_page/0" method="post">
            <input type="submit" value="Создать новую модель">
        </form>
        <h2>ИЛИ</h2>
        <p>Продолжить создание незавершённой модели</p>
        <div class="container">
            <label for="modelsTable">Незавершённые модели:</label>
            <table id="modelsTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th title="Продолжить создание" onclick="sortTable(0)">Название модели</th>
                        <th onclick="sortTable(1)">ТП</th>
                        <th onclick="sortTable(2)">Автор</th>
                        <th onclick="sortTable(3)">Дата создания</th>
                        <th onclick="sortTable(4)">Метод моделирования</th>
                        <th onclick="sortTable(5)">Описание модели</th>
                        <th onclick="sortTable(6)">Последнее изменение пользователем</th>
                        <th onclick="sortTable(7)">Статус модели</th>
                        <th onclick="sortTable(8)">Переобучена раз</th>
                    </tr>
                </thead>
                <tbody>
                    {% for model in all_models %}
                    <tr>
                        <td title="Продолжит создание"><a href="/new_model_continue/{{ model.id }}/{{ model.state + 1 }}"><b>{{ model.name }}</b></a></td>
                        <td><b>{{ get_prof_name(model.profession) if model.profession else 'не указана' }}</b></td>
                        <td><b>{{ model.author_id.last_name }} {{ model.author_id.first_name }}</b></td>
                        <td><b>{{ model.creation_on.strftime('%Y.%m.%d %H:%M:%S') }}</b></td>
                        <td><b>{{ model.method_id.name if model.method_id.name else 'не указан' }}</b></td>
                        <td class="cut-descr-td" title="{{ model.description }}"><b class="cut-description">{{ model.description }}</b></td>
                        <td><b>{{ model.updated_on.strftime('%Y.%m.%d %H:%M:%S') }}</b>, <b>{{ model.last_changed_user.last_name }} {{ model.last_changed_user.first_name }}</b></td>
                        <td>
                            <b>
                            {% if model.state == 0 %}
                                Создана запись о модели в БД
                            {% elif model.state == 1 %}
                                Выбран метод моделирования
                            {% elif model.state == 2 %}
                                Выбраны гиперпараметры метода моделирования
                            {% elif model.state == 3 %}
                                Выбран слепок данных для модели
                            {% elif model.state == 4 %}
                                Установлены параметры (фильтры) модели
                            {% elif model.state == 5 %}
                                Модель обучена
                            {% elif model.state == 6 %}
                                Скорректированы отрицательные значения
                            {% elif model.state == 7 %}
                                Модель финализирована
                            {% elif model.state == 8 %}
                                Модель используется
                            {% else %}
                                Неизвестный статус
                            {% endif %}
                            </b>
                        </td>
                        <td><b>{{ model.retrained }}</b></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <script src="/static/js/sortTable.js"></script>
    {% elif state == 0 %}
        <h2>Добавление записи модели</h2>
        <form action="/new_model_page" method="get">
            <input type="submit" value="Назад">
        </form>
        <form action="/new_model_page/1" method="post" id="form-state-0">
            <label value="Название модели">Название модели
                <input type="text" name="model_name" required value="{{ model.name if model is defined else '' }}">
            </label>
            <label>Типовая позиция
                {% if prof_list is defined %}
                    <select name="profession" >
                    {% for prof in prof_list %}
                        <option value="{{prof}}">{{prof}}</option>
                    {% endfor %}
                {% elif model is defined %}
                    <input type="text" name="profession" disabled value="{{ get_prof_name(model.profession) }}" id="author">
                {% endif %}
                </select>
            </label>
            <label value="Описание модели" for="model_description">Описание модели
                <textarea type="text" class="form-control form-control-lg" name="model_description"
                          oninput="document.querySelector('input#id').value = this.value;"
                          id="model_description">{{ model.description if model is defined else '' }}</textarea>
            </label>
            <label value="Автор">Автор
                <input type="text" disabled value="{{ surname }} {{ name }}" id="author">
            </label>
            {% if model is defined %}
                <input type="hidden" name="defined_model" value="{{ model.id }}">
            {% endif %}
            <input type="submit" name="continue" value="Продолжить">
            <input type="submit" name="continue" value="Сохранить и закрыть">
        </form>
    {% elif state == 1 %}
        <h2>Выбор метода моделирования</h2>
        <form action="/new_model_page" method="get">
            <input type="submit" value="На главную">
        </form>
        <form action="/new_model_continue/{{ model.id }}/0" method="get">
            <input type="submit" value="Шаг назад">
        </form>
        <form action="/new_model_page/2" method="post" id="form-state-0">
            <label>Метод моделирования
                {% if method_change_allowed is defined and method_change_allowed and method is defined %}
                    <input type="text" disabled value="{{ method }}">
                    <input type="hidden" name="model_method" value="{{ method }}">
                {% else %}
                    <select name="model_method">
                        <option value="CatBoostRegressor">CatBoostRegressor</option>
                    </select>
                {% endif %}
            </label>
            <input type="hidden" name="model" value="{{ model.id }}">
            <input type="submit" name="continue" value="Продолжить">
            <input type="submit" name="continue" value="Сохранить и закрыть">
        </form>
    {% elif state == 2 %}
        <h2>Выбор гиперпараметров метода</h2>
        <form action="/new_model_page" method="get">
            <input type="submit" value="На главную">
        </form>
        <form action="/new_model_continue/{{ model.id }}/1" method="get">
            <input type="submit" value="Шаг назад">
        </form>
            <p>Профессия: {{ get_prof_name(model.profession) }}</p>
            <p>Модель: {{ method }}</p>
        <form action="/new_model_page/3" method="post" id="form-state-0">
            {% if method == 'CatBoostRegressor' %}
                <label value="Количество эпох">Количество эпох:
                    <input type="number" name="epochs"
                           value="{{ catboost_params['epochs'] if catboost_params else 1000 }}" required min="1">
                </label>
                <label value="Ранняя остановка">Ранняя остановка:
                    <input type="number" name="early_stop"
                           value="{{ catboost_params['early_stop'] if catboost_params else 100 }}" required min="1">
                </label>
                <label value="learning rate">Скорость обучения:
                    <input type="number" name="learning_rate"
                           value="{{ catboost_params['learning_rate'] if catboost_params else 0.03 }}" required step="0.01">
                </label>
                <label value="depth">Глубина модели:
                    <input type="number" name="depth"
                           value="{{ catboost_params['depth'] if catboost_params else 6 }}" required min="1" max="16">
                </label>
            {% endif %}
            <input type="hidden" name="model" value="{{ model.id }}">
            <input type="submit" name="continue" value="Продолжить">
            <input type="submit" name="continue" value="Сохранить и закрыть">
        </form>
    {% elif state == 3 %}
        <h2>Выбор/загрузка данных для обучения</h2>
        <form action="/new_model_page" method="get">
            <input type="submit" value="На главную">
        </form>
        <form action="/new_model_continue/{{ model.id }}/2" method="get">
            <input type="submit" value="Шаг назад">
        </form>
        {% if valid is undefined %}
            {% if e is defined %}
                <p>Данные НЕ прошли проверку!</p>
                <p>Ошибка:<strong>{{ e }}</strong></p>
            {% endif %}
            {% if saved is defined and saved %}
                <p>Данные были сохранены в БД</p>
                {% if save_result is defined %}
                    <p>{{ save_result }}</p>
                {% endif %}
            {% elif saved is defined and not saved %}
                <p>Данные не были сохранены в БД</p>
            {% endif %}
            <p>Загрузить свой датасет (csv)</p>
            <form action="/upload-dataset" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept=".csv"/>
                <input type="submit" value="Проверить корректность данных">
                <input type="hidden" name="model" value="{{ model.id }}">
            </form>
            <h2>Или</h2>
            <p>Выбрать из готовых слепков данных</p>
            {% if model.train_table %}
                <p><strong>Выбранные данные: </strong>{{ model.train_table }}</p>
                        <form action="/new_model_continue/{{ model.id }}/4" method="get">
                            <input type="submit" value="Продолжить">
                        </form>
            {% endif %}
            <label for="modelsTable">Слепки данных по типовой позиции: {{ get_prof_name(model.profession) }}</label>
            <table id="modelsTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Слепок</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in all_datas %}
                        <tr>
                            <td>{{ data }}</td>
                            <td>
                                {% if data != model.train_table %}
                                <a href="/set-data-table/{{ model.id }}/{{ data }}"
                                   title="Установить слепок данных для модели"
                                   class="btn btn-success">Сохранить</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif valid is defined %}
            <p>Данные прошли проверку!</p>
            <form action="/save-uploaded-dataset" method="post">
                <p>Сохранить данные в виде слепка?</p>
                <input type="submit" name="save-data" value="Да">
                <input type="submit" name="save-data" value="Нет">
                <input type="hidden" name="profession" value="{{ model.profession }}">
                <input type="hidden" name="model" value="{{ model.id }}">
            </form>
        {% endif %}
    {% elif state == 4 %}
        <h2>Установка параметров модели</h2>
        <form action="/new_model_page" method="get">
            <input type="submit" value="На главную">
        </form>
        <form action="/new_model_continue/{{ model.id }}/3" method="get">
            <input type="submit" value="Шаг назад">
        </form>
        <h2>Настройка фильтров для обучения</h2>
        <div class="form-container">
            <form action="/set-model-params/{{ model.id }}" method="post">
                <div class="radio-group">
                    <p class="label">Вахта</p>
                    <label class="radio-container">
                        {% if mf is defined and mf.is_vahta == false %}
                            <input type="radio" name="is_vahta" value="0" checked>
                        {% else %}
                            <input type="radio" name="is_vahta" value="0">
                        {% endif %}
                        <span class="radio-checkmark"></span>
                        Нет
                    </label>
                    <label class="radio-container">
                        {% if mf is defined and mf.is_vahta == true %}
                            <input type="radio" name="is_vahta" value="1" checked>
                        {% else %}
                            <input type="radio" name="is_vahta" value="1">
                        {% endif %}
                        <span class="radio-checkmark"></span>
                        Да
                    </label>
                </div>
    
                <div class="radio-group">
                    <p class="label">Частичная занятость</p>
                    <label class="radio-container">
                        {% if mf is defined and mf.is_parttime == false %}
                            <input type="radio" name="is_parttime" value="0" checked>
                        {% else %}
                            <input type="radio" name="is_parttime" value="0">
                        {% endif %}
                        <span class="radio-checkmark"></span>
                        Нет
                    </label>
                    <label class="radio-container">
                        {% if mf is defined and mf.is_parttime == true %}
                            <input type="radio" name="is_parttime" value="1" checked>
                        {% else %}
                            <input type="radio" name="is_parttime" value="1">
                        {% endif %}
                        <span class="radio-checkmark"></span>
                        Да
                    </label>
                </div>
    
                <div class="radio-group">
                    <p class="label">Уровень опыта</p>
                    <label class="radio-container">
                        {% if mf is defined and mf.experience_id == 0 %}
                            <input type="radio" name="experience_id" value="0" checked>
                        {% else %}
                            <input type="radio" name="experience_id" value="0">
                        {% endif %}
                        <span class="radio-checkmark"></span>
                        Нет
                    </label>
                    <label class="radio-container">
                        {% if mf is defined and mf.experience_id == 1 %}
                            <input type="radio" name="experience_id" value="1" checked>
                        {% else %}
                            <input type="radio" name="experience_id" value="1">
                        {% endif %}
                        <span class="radio-checkmark"></span>
                        Низкий
                    </label>
                    <label class="radio-container">
                        {% if mf is defined and mf.experience_id == 2 %}
                            <input type="radio" name="experience_id" value="2" checked>
                        {% else %}
                            <input type="radio" name="experience_id" value="2">
                        {% endif %}
                        <span class="radio-checkmark"></span>
                        Высокий
                    </label>
                </div>
    
                <div class="select-group">
                    <p class="label">Регион</p>
                    <select name="region_name">
                        {% for region in regions %}
                            {% if mf is defined and mf.region_name == region %}
                                <option value="{{ region }}" selected>{{ region }}</option>
                            {% else %}
                                <option value="{{ region }}">{{ region }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
    
                <input type="submit" class="submit-button" value="Сохранить">
            </form>
        </div>
    {% elif state == 5 %}
        <h2>Запуск обучения модели: {{ model.name }}</h2>
        <form action="/new_model_page" method="get">
            <input type="submit" value="На главную">
        </form>
        <form action="/new_model_continue/{{ model.id }}/4" method="get">
            <input type="submit" value="Шаг назад">
        </form>
        {% if not trained %}
            <form action="/teach_model/{{ model.id }}" method="get">
                <input type="submit" value="ОБУЧИТЬ">
            </form>
        {% else %}
            <p>Модель уже обучена! Вы можете создать копию модели с теми же настройками, изменить их и обучить её заново.</p>
            <p>Или дообучить модель с новыми данными (скоро будет).</p>
            <form action="/incomplete_model/{{ model.id }}" method="get">
                <input type="submit" title="посмотреть полное описание модели" value="характеристики модели">
            </form>
            <form action="/copy_unfinished_model" method="post">
                <input type="submit" value="СКОПИРОВАТЬ">
                <input type="hidden" name="model" value="{{ model.id }}">
            </form>
            <form action="#" method="get">
                <input type="submit" value="ДООБУЧИТЬ" disabled>
            </form>
        {% endif %}
    {% endif %}
</div>
</body>
</html>