<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница для создания новой модели</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/general.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles/new_model.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
</head>
<body>
<form action="/logout" method="get">
    <div id="logout-form">
        <input type="submit" id="logout-button" value="Выйти">
        <p>{{ name }}</p>
        <p>{{ surname }}</p>
    </div>
</form>
<div class="d-flex flex-column align-items-center">
    <h1>Создание модели</h1>
    {% if state is undefined %}
        {% if saved is defined and saved == 1 %}
            <p class="first_p">Модель сохранена!</p>
        {% elif saved is defined and saved == 2 %}
            <p class="first_p">Модель обновлена!</p>
        {% endif %}
        <form action="/index" method="get">
            <input type="submit" value="На главную">
        </form>
        <form action="/new_model_page/0" method="post">
            <input type="submit" value="Создать новую модель">
        </form>
        <h2>Или</h2>
        <p>Продолжить создание незавершённой модели</p>
        <div class="container">
            <label for="customSelect">Незавершённые модели:</label>
            <ul id="customSelect">
                {% for model in all_models %}
                    <li><a href="/new_model_continue/{{ model.id }}/{{ model.state + 1 }}">
                        <b>"{{ model.name }}"
                        </b> для ТП <b>{{ get_prof_name(model.profession) if model.profession else 'не указана' }}</b>
                        создана <b>{{ model.author_id.last_name }} {{ model.author_id.first_name }}</b>
                        <b>{{ model.creation_on }}</b>.
                        Метод: <b>{{ model.method_id.name if model.method_id.name else 'не указан' }}</b>.
                        Последнее изменение: <b>{{ model.updated_on }}</b>
                        внесено <b>{{ model.last_changed_user.last_name }} {{ model.last_changed_user.first_name }}</b>.
                        Статус модели: <b>{{ model.state }}</b>.
                        Переобучена раз: <b>{{ model.retrained }}</b>.
                    </a></li>
                {% endfor %}
            </ul>
        </div>
    {% elif state == 0 %}
        <h2>Добавление записи модели</h2>
        {% if model is defined %}
            <h2>Изменение модели</h2>
        {% endif %}
        <form action="/new_model_page" method="get">
            <input type="submit" value="Назад">
        </form>
        <form action="/new_model_page/1" method="post" id="form-state-0">
            <label value="Название модели">Название модели
                <input type="text" name="model_name" required value="{{ model.name if model is defined else '' }}">
            </label>
            <label>Типовая позиция
                {% if prof_list is defined %}
                    <select name="profession" >
                    {% for prof in prof_list %}
                        <option value="{{prof}}">{{prof}}</option>
                    {% endfor %}
                {% elif model is defined %}
                    <input type="text" name="profession" disabled value="{{ get_prof_name(model.profession) }}" id="author">
                {% endif %}
                </select>
            </label>
            <label value="Описание модели" for="model_description">Описание модели
                <textarea type="text" class="form-control form-control-lg" name="model_description"
                          oninput="document.querySelector('input#id').value = this.value;"
                          id="model_description">{{ model.description if model is defined else '' }}</textarea>
            </label>
            <label value="Автор">Автор
                <input type="text" disabled value="{{ surname }} {{ name }}" id="author">
            </label>
            {% if model is defined %}
                <input type="hidden" name="defined_model" value="{{ model.id }}">
            {% endif %}
            <input type="submit" name="continue" value="Продолжить">
            <input type="submit" name="continue" value="Сохранить и закрыть">
        </form>
    {% elif state == 1 %}
        <h2>Выбор метода моделирования</h2>
        {% if model is defined %}
            <h2>Изменение модели</h2>
        {% endif %}
        <form action="/new_model_page" method="get">
            <input type="submit" value="На главную">
        </form>
        <form action="/new_model_continue/{{ model.id }}/0" method="get">
            <input type="submit" value="Назад">
        </form>
        <form action="/new_model_page/2" method="post" id="form-state-0">
            <label>Метод моделирования
                {% if method_change_allowed is defined and method_change_allowed and method is defined %}
                    <input type="text" disabled value="{{ method }}">
                    <input type="hidden" name="model_method" value="{{ method }}">
                {% else %}
                    <select name="model_method">
                        <option value="CatBoostRegressor">CatBoostRegressor</option>
                    </select>
                {% endif %}
            </label>
            <input type="hidden" name="model" value="{{ model.id }}">
            <input type="submit" name="continue" value="Продолжить">
            <input type="submit" name="continue" value="Сохранить и закрыть">
        </form>
    {% elif state == 2 %}
        <h2>Выбор гиперпараметров метода</h2>
        <form action="/new_model_page" method="get">
            <input type="submit" value="На главную">
        </form>
        <form action="/new_model_continue/{{ model.id }}/1" method="get">
            <input type="submit" value="Назад">
        </form>
            <p>Профессия: {{ get_prof_name(model.profession) }}</p>
            <p>Модель: {{ method }}</p>
        <form action="/new_model_page/3" method="post" id="form-state-0">
            {% if method == 'CatBoostRegressor' %}
                <label value="Количество эпох">Количество эпох:
                    <input type="number" name="epochs"
                           value="{{ catboost_params['epochs'] if catboost_params else 1000 }}" required min="1">
                </label>
                <label value="Ранняя остановка">Ранняя остановка:
                    <input type="number" name="early_stop"
                           value="{{ catboost_params['early_stop'] if catboost_params else 100 }}" required min="1">
                </label>
                <label value="Разбиение train/test (процент тестовых данных)">Разбиение train/test:
                    <input type="number" name="train_test"
                           value="{{ catboost_params['train_test'] if catboost_params else 0.25 }}" required min="0.01" max="1" step="0.01">
                </label>
                <label value="learning rate">Скорость обучения:
                    <input type="number" name="learning_rate"
                           value="{{ catboost_params['learning_rate'] if catboost_params else 0.03 }}" required step="0.01">
                </label>
                <label value="depth">Глубина модели:
                    <input type="number" name="depth"
                           value="{{ catboost_params['depth'] if catboost_params else 6 }}" required min="1" max="16">
                </label>
            {% endif %}
            <input type="hidden" name="model" value="{{ model.id }}">
            <input type="submit" name="continue" value="Продолжить">
            <input type="submit" name="continue" value="Сохранить и закрыть">
        </form>
    {% elif state == 3 %}
        <h2>Выбор/загрузка данных для обучения</h2>
        <form action="/new_model_page" method="get">
            <input type="submit" value="На главную">
        </form>
        <form action="/new_model_continue/{{ model.id }}/2" method="get">
            <input type="submit" value="Назад">
        </form>
        <p>Загрузить свой датасет</p>
        <form action="/upload-dataset" method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="Проверить корректность данных" disabled>
            <input type="hidden" name="model" value="{{ model.id }}">
        </form>
        <h2>Или</h2>
        <p>Выбрать из готовых слепков данных</p>
        <p>В РАЗРАБОТКЕ...</p>
    {% endif %}
</div>
</body>
</html>