label {
    border: 2px solid #000080;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: #000080;
    margin: 10px 0;
}

input[type='radio'] {
    display: none;
}

input[type='radio']:checked + label {
  background-color: #4169e1;
}

#tables-container {
    width: 1000px;
    height: 500px;
}

#left-table-models {
    float: left;
    width: 50%;
    border: white solid 1px;
}

#right-table-datas {
    float: right;
    width: 50%;
    border: white solid 1px;
}

/* Выпадающий список */
label[for="customSelect"] {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

ul li:last-child {
    border-bottom: none;
}

ul li.selected {
    background-color: #4CAF50;
    color: white;
}

p {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Выпадающий список */

/* Таблица с сравнительными метриками */
table {
    font-size: 14px;
    text-align: center;
    border-collapse:separate;
    border-spacing:0 5px;
    background-color: #4CAF50;
}
th, td:first-child {
    color: white;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: white solid 1px;
}

th, td {
    border: white solid 3px;
}

td {
    background-color: #4CAF50;
    border: white solid 1px;
}

th:first-child, td:first-child {
    text-align: left;
}
/* Таблица с сравнительными метриками */