h1 {
    font-size: 2em;
    margin: 20px 0;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

img {
    margin: 20px 0;
    border: 2px solid #000080; /* Обводка изображений */
}

#feature-importance {
    margin: 20px 0;
}

.first_p {
    margin-top: 50px;
}

.second_p {
    margin-top: 50px;
}

.first_button{
    margin-bottom: 20px;
}