body {
    text-align: center;
    background-color: #f0f8ff !important;
    color: #000080 !important;
    font-family: Arial, sans-serif;
}

form {
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #000080;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="submit"]:hover {
    background-color: #4169e1;
}

input[type="file"] {
    border: 2px solid #000080;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    background-color: #000080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background-color: #4169e1;
}

select {
    border: 2px solid #000080;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: #000080;
    margin: 10px 0;
}

h1 {
    font-size: 2em;
    margin: 20px 0;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

img {
    margin: 20px 0;
    border: 2px solid #000080; /* Обводка изображений */
}

#feature-importance {
    margin: 20px 0;
}

.first_p {
    margin-top: 50px;
}

.second_p {
    margin-top: 50px;
}

.text-info-main{
    margin-top: 30px;
}

/* Выпадающий список */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 10%;
    margin-right: 10%;
    max-width: 100%; 
    overflow-y: auto; 
    overflow-x: auto;
}

/* Выравнивание заголовков таблицы по центру горизонтально и вертикально */
#modelsTable th {
    text-align: center;          /* Горизонтальное выравнивание */
    vertical-align: middle;      /* Вертикальное выравнивание */
}

/* Дополнительное стилизование для выравнивания высоты строк */
#modelsTable {
    border-collapse: collapse;   /* Убирает двойные границы между ячейками */
    width: 100%;                 /* Ширина таблицы 100% от контейнера */
}

#modelsTable td, #modelsTable th {
    padding: 8px;                /* Отступы внутри ячеек */
    border: 1px solid #ddd;      /* Граница ячеек */
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

ul li:last-child {
    border-bottom: none;
}

ul li.selected {
    background-color: #4CAF50;
    color: white;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Выпадающий список */

#model_description {
    resize: none;
    height: 200px;
}

#form-state-0 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[name="model_name"], #model_description, #author {
    width: 800px;
}

li>a {
    text-decoration: none;
}