body {
    text-align: center;
    background-color: #f0f8ff !important;
    color: #000080 !important;
    font-family: Arial, sans-serif;
}

form {
    margin-top: 20px;
}

input[type="submit"] {
    background-color: #000080;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #4169e1;
}

input[type="file"] {
    border: 2px solid #000080;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    background-color: #000080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background-color: #4169e1;
}

select {
    border: 2px solid #000080;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: #000080;
    margin: 10px 0;
}

h1 {
    font-size: 2em;
    margin: 20px 0;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

img {
    margin: 20px 0;
    border: 2px solid #000080; /* Обводка изображений */
}

#feature-importance {
    margin: 20px 0;
}

.first_p {
    margin-top: 50px;
}

.second_p {
    margin-top: 50px;
}

.button-1 {
    width: 450px;
    text-align: center;
}

#logout-button {
    margin-top: 0;
    background-color: red;
}

.text-info-main{
    margin-top: 30px;
}

.progress-bar-container {
    width: 250px; /* Устанавливаем ширину контейнера */
    background-color: #f3f3f3;
    border: 1px solid #000080;
    border-radius: 5px;
    margin-top: 20px;
}

.progress-bar {
    width: 0%;
    height: 30px;
    background-color: #000080 !important; /* Цвет заполнения прогресс-бара */
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: white !important;
    font-weight: bold;
}

.metrics-table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    display: none; 
}

.metrics-table th, .metrics-table td {
    border: 1px solid #000080;
    padding: 10px;
    text-align: center;
}

.metrics-table th {
    background-color: #000080;
    color: white;
}

.metrics-table td {
    background-color: #4169e1;
    color: white;
}

#button-save{
    display: none; 
}